<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/application.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT-ASYNC"
		class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="STDOUT" />
		<neverBlock>true</neverBlock>
	</appender>

	<appender name="FILE-ASYNC"
		class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE" />
		<neverBlock>true</neverBlock>
	</appender>

	<logger name="bftsmart" level="DEBUG">
		<appender-ref ref="FILE-ASYNC" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="STDOUT-ASYNC" />
		<appender-ref ref="FILE-ASYNC" />
	</root>

</configuration>